[submodule "app/wordpress"]
	path = app/wordpress
	url = git://github.com/WordPress/WordPress
[submodule "app/tasks"]
	path = app/tasks
	url = git://github.com/andrezrv/common-backup-tasks
[submodule "maintenance"]
	path = maintenance
	url = git://github.com/andrezrv/simple-maintenance-website
[submodule "app/maintenance"]
	path = app/maintenance
	url = git://github.com/andrezrv/simple-maintenance-website
