# This is an example .htaccess file. Feel free to customize it according to
# your own needs. Keep in mind that it will only be used if you run Apache as
# your webserver, and you should remove it if you are using another webserver,
# such as nginx, in order to avoid confussions. 

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>
# END WordPress
